.display{
  display: block;
  
}

.none{
  display: none;
}

/* search bar */
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.form-control{
  border: none;
  width: 90%;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.searchBarContainer{
  background-color: white;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.fa-search{
  color: rgb(18, 29, 194);
}

.fa-xmark{
  color: rgb(18, 29, 194);
}

.btn{
  background-color: white;
}


.btn:focus {
  border-color: none;
  box-shadow: none;
}

.round{
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
 -moz-border-radius-bottomright:20px;
 -moz-border-radius-bottomleft:20px;
 -webkit-border-bottom-right-radius:20px;
 -webkit-border-bottom-left-radius:20px;

  -moz-border-radius-topright:20px;
  -moz-border-radius-topleft:20px;
  -webkit-border-top-right-radius:20px;
  -webkit-border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
}

.rightround{
  border-bottom-right-radius:20px;
 -moz-border-radius-bottomright:20px;
 -webkit-border-bottom-right-radius:20px;

  -moz-border-radius-topright:20px;
  -webkit-border-top-right-radius:20px;
  border-top-right-radius:20px;
}

.border-3 {
  border-width:3px !important;
  border-color: rgb(18, 29, 194) !important;
  padding: 0px;
  display: flex;
}

@media (min-width: 400px) {
  .container{
      max-width: 400px;
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.example-margin {
  margin: 0 10px;
}